{% extends "locations/base.html" %}

{% block title %}About — TravelPinHunt{% endblock %}

{% block content %}
    <div class="max-w-1xl">
        <h1 class="text-3xl font-bold mb-6">About TravelPinHunt</h1>
        
        <div class="prose text-gray-700 space-y-4">
            <p>
                TravelPinHunt is a community-built database of places where you can buy 
                travel pins around the world.
            </p>
            <p>
                The idea came from a simple problem: if you are collecting pins while travelling, it's hard 
                to know where to find and buy a quality pin to add to your collection when you visit a new city.
                TravelPinHunt solves that by adding locations where website's author bought pins himself as a foundation,
                and then crowdsourcing pin locations from fellow collectors, which can submit them to be added.
            </p>
            <p>
                You can search for a city where you are in, and website will show you known locations in this city 
                where you can buy a pin for your collection.
                Locations are usually shops, and there is info on which pins you can buy there, where to find this shop,
                and they always have direct links to Google Maps so you can easily find the place to buy your next pin.
                Locations are tied to a specific city, which is tied to a country.
            </p>
        </div>

    <h2 class="text-2xl font-bold mb-4 mt-8">Author</h2>

    <div class="prose text-gray-700 space-y-4">
        <p>
            Website is made by a single developer Dmitrii, who works as data engineer, but is also an experienced traveller and enthusiastic pin collector.
            You can find me on <a href="https://www.linkedin.com/in/dpolovinkin" target="_blank" class="text-amber-800 hover:underline">LinkedIn</a>. 
            I also make city walk videos while travelling for my channel 
            <a href="https://youtube.com/@vagabondity" target="_blank" class="text-amber-800 hover:underline">Vagabondity Walks</a>, 
            feel free to check it out!
        </p>
    </div>
{% endblock %}